/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, body *{
	font-family: 'Bowman', 'Anonymous Pro', monospace;
}

html, body{
	height: 100%;
	width: 100%;

	overflow: hidden;

	margin: 0;
	padding: 0;

	background: #0f0f0f; /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #000000, #434343);  
	background: linear-gradient(to left, #000000, #434343); */
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 81%, rgba(13,13,13,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(81%, rgba(11,11,11,1)), color-stop(100%, rgba(13,13,13,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 81%, rgba(13,13,13,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 81%, rgba(13,13,13,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 81%, rgba(13,13,13,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 81%, rgba(13,13,13,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0d0d0d', GradientType=0 );
	
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
span{
	display: inline-block;
}
.mother-wrap{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.input-wrap{
	width: 100%;
	height: 20%;

	display: flex;
	align-items: flex-end;
	padding-left: 15%;
	justify-content: flex-start;

	font-size: 3rem;
	color: #f7f7f7;
}
.output-wrap{
	width: 100%;
	height: 70%;

	padding-left: 15%;
	padding-top: 1.5%;
	font-size: 3rem;
	color: #f7f7f7;

	line-height: 120%;
}
.slim-override{
	display: block;
	width: 85%;
	height: 98.5%;
}
.footer{
	position: fixed;
	height: 10%;
	width: 100%;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	color: #f7f7f7;
	font-size: 1.6rem;
	opacity: 0.7;
}
/*Update Later*/
.modal{
	display: none;
}
.small-fix{
	width: 100%;
	display: block;
	align-items: flex-start;
}
.terminal {
	font-size: 3rem;
	color: #f7f7f7;
}
.user-name{
	color: #b0e0e6;
}
#activity{
	color: #ffa500;
}
.terminal-input{
	color: #c5ff4c;
	margin-left:15px;
	display:inline;
	width:auto;
	background: transparent;
	font-size: 3rem;
	border: 0px;
	padding-top: 0.8vh;
}
.symbol, .terminal-symbol{
	font-family: monospace;
	font-size: 3.5rem;
}
input[type="text"]:focus{
	outline : none;
}

/* placeholder styling */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #96CEB4;
	padding-top: 0.8vh;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #96CEB4;
	padding-top: 0.8vh;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #96CEB4;
	padding-top: 0.8vh;
}
:-moz-placeholder { /* Firefox 18- */
	color: #96CEB4;
	padding-top: 0.8vh;
}
a {
	text-decoration:none !important;
	border-bottom: 2px solid #f96161;

	-webkit-box-shadow: inset 0 -4px 0 #f96161; 
	box-shadow: inset 0 -4px 0 #f96161; 
	color: inherit;
	transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

a:hover {
	background: #f96161;
}
@media only screen and (max-width: 480px) {
	.terminal{
		font-size: 2rem;
	}
	.terminal-input{
		font-size: 2rem;
	}
	.symbol, .terminal-symbol{
		font-size: 2.5rem;
	}
	.output-wrap, .input-wrap{
		font-size: 2rem;
	}
}