/* Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html,body{
height: 100%;
overflow: hidden;
}

body{
display: flex;
flex-direction: column;
justify-content: center;

margin:0;
padding:0;
background:#000;
font-family:"Helvetica Neue",Helvetica, Arial;
}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -140px;                                                              
float: left;
}

div#content {
width: 75%;

min-height: 20%;
max-height: 55%;
height: auto;

margin: 0 auto;

display: flex;
justify-content: center;
align-items: stretch;
}

/* Hide from IE5mac \*//*/
div#shim {
display: none;
}
html, body {
height: auto;
}
/* end hack */
/* ]]> */

a{
  text-decoration: none;
}


.logo_box{
/* width: 349px; */
min-width: 20vw;
max-width: 45vw;
width: auto;

/* float: left; */
border-right: 1px solid #303030;

/* height: 280px; */
height: 100%;
height: auto;

/* position: relative; */
padding: 5vw 5vw 5vw 0;

display: flex;
justify-content: center;
align-items: center;
}

h1{
/* padding: 12px 70px 12px 20px; */
/* position: absolute; */
/* right: 0; */
text-align:left;
/* top: 25%; */
/* float: left; */
color: #fff;
letter-spacing: -1px;
font-size: 38px;
font-size: 2.5rem;
}

h1 cufon{
margin-bottom: -4px;
}

h3{
font-size: 24px;
color: #333;
float: left;
margin-right: 15px;
padding-top: 5px;
}

.main_box{
display: flex;
flex-direction: column;

/* height: 95px; */
height: auto;

padding: 0 0 0 2.8vw;

float: left;
/* width: 500px; */
/* padding: 25px; */
}

form{
width: 590px;
padding: 10px 0;
float: left;
background: url(../images/dots.gif) right top repeat-y;
height: 80px;
}

h2{
font-family: Georgia;
color: #f5bd47;
font-size: 24px;
margin-bottom: 20px;
margin-bottom: 2vh;
}

h2 span{
color: #EEEEEE;
font-size: 16px;
font-size: 1.05rem;
line-height: 26px;
line-height: 3.6vh;
font-style: italic;
}

ul.info{
/* width: 500px; */
width: 100%;
padding: 0;
margin: 10px 0 0 0;
float: left;
}

/* ul.info li{
/* margin-bottom: 20px; */
/* clear: both;
float: left; */
/* } */

ul.info li p{
font-size: 13px;
line-height: 20px;
color: #fff;
float: left;
margin: 0;
}

ul.info li p.social a.tw{
width: 28px;
height: 28px;
background: url(../images/social.png) left top no-repeat;
margin-right: 8px;
float: left;
}

ul.info li p.social a.fb{
width: 28px;
height: 28px;
background: url(../images/social.png) -36px top no-repeat;
float: left;
margin-right: 8px;
}

ul.info li p.social a.li{
width: 28px;
height: 28px;
background: url(../images/social.png) -72px top no-repeat;
float: left;
}

ul.info li p.social a.tw:hover{
width: 28px;
height: 28px;
background: url(../images/social.png) left bottom no-repeat;
float: left;
}

ul.info li p.social a.fb:hover{
width: 28px;
height: 28px;
background: url(../images/social.png) -36px bottom no-repeat;
float: left;
}

ul.info li p.social a.li:hover{
width: 28px;
height: 28px;
background: url(../images/social.png) -72px bottom no-repeat;
float: left;
}

/* Overrides */

.social{
  overflow: hidden;
}

.info{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
}

.field{
float: left;
background: url(../images/input.png) left top no-repeat;
width: 425px;
height: 21px;
font-size: 14px;
color: #666;
padding: 10px;
border: none;
}

.submit_butt{
float: left;
background: url(../images/input.png) right top no-repeat;
width: 109px;
height: 41px;
border: none;
cursor: pointer;
}

.submit_butt:hover{
background: url(../images/input.png) right bottom no-repeat;
}

.connect{
width: 145px;
padding-left: 20px;
float: left;
padding-top: 20px;
}

.connect img{
margin-right: 5px;
}

.social-icons.fa{
  font-size: 2.2rem;
}

.icon-wrapper .social-icons.fa{
  color: #ddd;
  opacity: 0.2;

  -webkit-transition: opacity 1.25s ease-out, color 0.4s ease-out;
  -moz-transition: opacity 1.25s ease-out, color 0.4s ease-out;
  -o-transition: opacity 1.25s ease-out, color 0.4s ease-out;
  transition: opacity 1.25s ease-out, color 0.4s ease-out;
}

.icon-wrapper .social-icons.fa:hover{
  -webkit-transition: opacity 1.25s ease-out, color 0.4s ease-out;
  -moz-transition: opacity 1.25s ease-out, color 0.4s ease-out;
  -o-transition: opacity 1.25s ease-out, color 0.4s ease-out;
  transition: opacity 1.25s ease-out, color 0.4s ease-out;

  opacity: 1;
}

/* Actual hover over icon */

.icon-wrapper .social-icons.fa-github:hover{
  color: #c9510c;
  color: #28cbfc;
  mix-blend-mode: screen;
}
.icon-wrapper .social-icons.fa-codepen:hover{
  color: #0087cb;
  color: #35d1f0;
  mix-blend-mode: screen;
}
.icon-wrapper .social-icons.fa-facebook:hover{
  color: #3b5998;
  color: #55e1d5;
  mix-blend-mode: screen;
}
.icon-wrapper .social-icons.fa-instagram:hover{
  color: #db3340;
  color: #68ebc6;
  mix-blend-mode: screen;
}
.icon-wrapper .social-icons.fa-medium:hover{
  color: #A3CD39;
  color: #77f2b9;
  mix-blend-mode: screen;
}
.icon-wrapper .social-icons.fa-linkedin:hover{
  color: #0087cb;
  color: #85f9ac;
  mix-blend-mode: screen;
}
.icon-wrapper .social-icons.fa-paper-plane:hover{
  color: #0087cb;
  color: #9afead;
  mix-blend-mode: screen;
}

/* Hover effect over region */

.info:hover .social-icons{
  opacity: 0.39;
}

.info:hover .social-icons.fa-github{
  color: #c9510c;
  color: #28cbfc;
  mix-blend-mode: screen;
}

.info:hover .social-icons.fa-codepen{
  color: #0087cb;
  color: #35d1f0;
  mix-blend-mode: screen;
}
.info:hover .social-icons.fa-facebook{
  color: #3b5998;
  color: #55e1d5;
  mix-blend-mode: screen;
}
.info:hover .social-icons.fa-instagram{
  color: #db3340;
  color: #68ebc6;
  mix-blend-mode: screen;
}
.info:hover .social-icons.fa-medium{
  color: #A3CD39;
  color: #77f2b9;
  mix-blend-mode: screen;
}
.info:hover .social-icons.fa-linkedin{
  color: #0087cb;
  color: #85f9ac;
  mix-blend-mode: screen;
}
.info:hover .social-icons.fa-paper-plane{
  color: #0087cb;
  color: #9afead;
  mix-blend-mode: screen;
}

/* .info:hover .social-icons.fa-github{
  color: #c9510c;
  color: #28cbfc;
  mix-blend-mode: screen;

  opacity: 0.35;
} */

.bold{
  font-size: 3rem;
}

/* Animations */

@-webkit-keyframes rise {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes rise {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes rise {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes rise {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fall {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fall {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fall {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fall {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.content{
  margin-top: 0.5vh;
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  div#content{
    display: flex;
    flex-direction: column;

    min-height: auto;
    max-height: 90vh;
    height: auto;
  }

  .logo_box{
    min-width: auto;
    max-width: 100vw;
    width: auto;

    border-right: 0;
    border-bottom: 1px solid #303030;

    padding: 5vw 0vw 5vw 0;
  }

  .main_box{
    padding: 2.9vh 0 0 0;
  }

  .info{
    flex-wrap: wrap;
    justify-content: center
  }

  .info--wrapper{
    margin: 3vw;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  div#content{
    display: flex;
    flex-direction: column;

    min-height: auto;
    max-height: 90vh;
    height: auto;
  }

  .logo_box{
    min-width: auto;
    max-width: 100vw;
    width: auto;

    border-right: 0;
    border-bottom: 1px solid #303030;

    padding: 5vw 0vw 5vw 0;
  }

  .main_box{
    padding: 2.9vh 0 0 0;
  }

  .info{
    flex-wrap: wrap;
    justify-content: center
  }

  .info--wrapper{
    margin: 3vw;
  }
}