@import 'flex';

$phone: "(max-width: 420px)";
$phablet: "(min-width: 421px) and (max-width: 720px)";
$tablet: "(min-width: 721px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px) and (max-width: 1440px)";

#screen-landing {
  max-width: 100vw;
  max-height: 100vh;
  min-width: 60vw;
  min-height: 80vh;
  
  @include flexbox;
  // flex: 0 0 auto;
  z-index: 10;
  background: #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  
  /* -webkit-box-shadow: inset 0px 0px 0px 10px #fff;
  -moz-box-shadow: inset 0px 0px 0px 10px #fff;
  box-shadow: inset 0px 0px 0px 10px #fff; */
}

.landing {
  &--main-title {
    @include flexbox;
    /* position: absolute;
    top: 50%; */

    flex-direction: column;
    align-items: flex-start;
    font-family: 'Didot', 'Helvetica', serif;
    font-size: 12rem;
    color: #f7f7f7;
    // background: #000000;
    padding: 8vh;
    font-weight: 500;

    /* outline: solid 5px #f2c94c;
    outline-offset: 7px; */

    /* background: #f2994a;
    background-image: -webkit-linear-gradient(to bottom, #f2994a, #f2c94c);
    background: linear-gradient(to top, #f2994a, #f0cb35);
    background-attachment: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    z-index: 10;

    @media #{$phone} {
      font-size: 5.5rem;
      padding: 2vh;
      margin-top: 12vh;
    }

  }
}

.screen-landing{
  &--border-box{
    width: auto;
    height: 100%;
    flex-grow: 2;
    background: #000000;
    overflow-x: hidden;
    // border: #ffffff 25px solid;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000000;
      z-index: 8;
      top: 0;
      left: 0;
      opacity: 0.35;
    }
  }
}

.light-weight {
  font-weight: 100;
}

.heavy-weight {
  font-weight: 500;
}

.psuedo-wrapper{
  @include flexbox;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: flex-end;
  @media #{$phone} {
    justify-content: center;
    align-items: center;
  }
}

#bgvid{
  background-size: contain;
  background-attachment: fixed;
  max-width: 200%;
  height: auto;
  max-height: 100vh;
  @media #{$phone} {
    // background-position-x: 20%;
    max-width: 400%;
    transform: translateX(-50%);
  }
}