@import 'reset';
@import 'flex';
@import 'animation';

$third-page-color: #18172D;
$big-orb-size: 150px;
$big-orb-wave: 200%;
$big-orb-font-size: 1.65rem;
$small-orb-size: 110px;
$small-orb-font-size: 1.1rem;
$fonts: 'Didot',
'Helvetica',
serif;

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

html,
body {
    font-family: $fonts;
    font-size: 62.5%;

    overflow-x: hidden;
}
body{
    @include flexbox;
    flex-direction: column;
}
h1 {
    font-size: 5rem;
    color: #ffffff;
}

#base-wrapper {
    height: 100%;
    width: 100%;
    @include flexbox;
}

.large-header {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    // font-family: 'Libre Baskerville', serif;
    font-size: 6rem;
    color: #000;
    // text-transform: uppercase;
}

#main-image {
    height: 100%;
    width: 50%;
    background-clip: border-box;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

//menu css
a {
    text-decoration: none;
}


/* This class is added on scroll */

.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}

body {
    color: #fff;
    font-family: $fonts;
    font-size: 18px;
    text-align: center;
}

.visible {
    @include flexbox;
    flex-direction: row;
    overflow: hidden;
    height: 50px;
}

@-webkit-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%,
    12%,
    100% {
        transform: translateY(0%);
    }
    17%,
    29% {
        transform: translateY(-25%);
    }
    34%,
    46% {
        transform: translateY(-50%);
    }
    51%,
    63% {
        transform: translateY(-75%);
    }
    68%,
    80% {
        transform: translateY(-50%);
    }
    85%,
    97% {
        transform: translateY(-25%);
    }
}

@keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%,
    12%,
    100% {
        transform: translateY(0);
    }
    17%,
    29% {
        transform: translateY(-25%);
    }
    34%,
    46% {
        transform: translateY(-50%);
    }
    51%,
    63% {
        transform: translateY(-75%);
    }
    68%,
    80% {
        transform: translateY(-50%);
    }
    85%,
    97% {
        transform: translateY(-25%);
    }
}

#first-header {
    padding-top: 8vh;
    width: 50%;
    height: 50%;
    background: url('../../images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url('../../images/text_website.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    //resize in photoshop and then apply mask
    // background-position: center center;
}

//first section css
#left-wrapper,
#right-wrapper {
    @include flexbox;
    width: 50%;
}

#left-wrapper {
    height: 75%;
}

#image-container {
    @include flexbox;
    height: 100%;
    width: 60%;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    background-image: url('../images/42.jpg');
    -webkit-clip-path: polygon(0 0, 0 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 100% 100%, 100% 0);
    &:before {
        width: 100%;
        height: 100%;
        content: '';
        background: transparent url('../images/pattern.png') repeat top left;
    }
}

.overlay {
    @extend #base-wrapper;
    position: absolute;
}

/* Screens Settings */

$off-white: #F1F0EE;
$hover-color: #FF5A09;
$text-color: #2C3E50;
$active-color: #393E41;
.light{
    transition: all 1.2s ease;
    background: #fff;
    & > a{
        color: #000;
    }
}
.dark{
    transition: all 1.2s ease;
    background: #191919;
    & > a{
        color: #fff;
    }
}
.nav {
    @include flexbox;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 8%;
    // text-align: center;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0.9;
    // -webkit-box-shadow: 0 8px 6px -6px black;
    //    -moz-box-shadow: 0 8px 6px -6px black;
    //         box-shadow: 0 8px 6px -6px black;
    &:hover{
        opacity: 1;
    }
}

a {
    text-decoration: none;
    // text-shadow: -2px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Merriweather', 'Helvetica', serif;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

text{
    font-family: 'Merriweather', 'Helvetica', serif;
}

.link-effect-10 a {
    color: $text-color;
    margin: 0 20px;
    padding: 10px;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.link-effect-10 a span::before {
    height: 100%;
    width: 2px;
    background: $hover-color;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a span::after {
    height: 100%;
    width: 2px;
    background: $hover-color;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a::before {
    height: 2px;
    width: 100%;
    background: $hover-color;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a::after {
    height: 2px;
    width: 100%;
    background: $hover-color;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a:hover {
    color: $hover-color;
}

.link-effect-10 a:hover::before,
.link-effect-10 a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.link-effect-10 a:hover span::before,
.link-effect-10 a:hover span::after {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.link-effect-3 a {
    padding: 3px 0;
    margin: 0 20px;
    // color: #fff;
    text-shadow: none;
    position: relative;
    &:active {
        color: $active-color;
    }
}

.link-effect-3 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 3px 0;
    max-width: 0;
    // border-bottom: 2px solid $hover-color;
    color: $hover-color;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.link-effect-3 a:hover::before {
    max-width: 100%;
}

#screen-3 {
    background: url('../../images/diagmonds.png');
}

#third-page-wrapper {
    @extend #base-wrapper;
    flex-direction: column;
}

#js-wrapper {
    @include flexbox;
    height: 100%;
    width: 25%;
}

.box {
    width: $big-orb-size;
    height: $big-orb-size;
    border-radius: 50%;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: linear-gradient(to bottom, rgba(#d67a99, 1), rgba(#A6D2FF, 0) 80%, rgba(white, .5));
    width: $big-orb-wave + 10%;
    height: $big-orb-wave + 20%;
    margin-left: -$big-orb-size;
    margin-top: -($big-orb-size + 100px);
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 2500ms infinite linear;
}

.wave.-two {
    animation: drift 5000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:before {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#BE6C88, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: $big-orb-size;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: black;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: $big-orb-font-size;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.top-row {
    @include flexbox;
    height: 20%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#middle-row {
    @include flexbox;
    height: 30%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#last-row {
    @include flexbox;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
    .title {
        font-size: 1.4rem;
    }
}

#final-row {
    @include flexbox;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.small {
    width: $small-orb-size;
    height: $small-orb-size;
    margin: 4%;
    .title {
        line-height: $small-orb-size;
        font-size: $small-orb-font-size;
        font-weight: 600;
    }
    .wave {
        margin-top: -150px;
        margin-left: -110px;
    }
}

#final-row {
    .title {
        letter-spacing: 0.2em;
    }
}

.header {
    font-size: 8rem;
    letter-spacing: 0.05em;
}

#js {
    .wave {
        margin-top: -313px;
    }
}

#py {
    .wave {
        margin-top: -300px;
    }
}

#node {
    .wave {
        margin-top: -205px;
    }
}

#git {
    .wave {
        margin-top: -220px;
    }
}

#react,
#electron {
    .wave {
        margin-top: -180px;
    }
}

#photoshop {
    .wave {
        margin-top: -220px;
    }
}

#illustrator {
    .wave {
        margin-top: -200px;
    }
}

i.fa-github {
    font-size: 6.5rem;
    width: 100%;
}

.frame{
    @include flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 2%;
    margin-right: 2%;
}
.top-frame{
    display: block;
    height: 20px;
    width: 100%;
    border-top: 3px dashed white;
    border-right: 3px dashed white;
    border-left: 3px dashed white;
    margin-bottom: -4%;
}
.bottom-frame{
    display: block;
    height: 20px;
    width: 100%;
    border-bottom: 3px dashed white;
    border-right: 3px dashed white;
    border-left: 3px dashed white;
    margin-top: -4%;
}

.br {
    display: inline-block;
    width: 100%;
    height: 1px;
    // fallback to vh
    margin: 10px 0 10px 0;
    margin: 2vh 0 2vh 0;
}
