@import 'flex';
// @import 'fonts';
$fonts: 'Didot',
'Helvetica',
serif;

// device widths
$phone: "(max-width: 420px)";
$phablet: "(min-width: 421px) and (max-width: 720px)";
$tablet: "(min-width: 721px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px) and (max-width: 1440px)";

//http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html

#screen-5 {
    @include flexbox;
    min-height: 130vh;
    width: 100vw;
    background: #000;
    & .wrapper {
		@include flexbox;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        flex-wrap: nowrap;
		// padding-left: 4%;
		// padding-right: 4%;
        @media #{$phone} {
            padding-top: 6vh;
            padding-bottom: 6vh;
        }
        &--line {
			@include flexbox;
            height: 3px;
            width: 75vw; // padding-left: 20%;
            background: #fff;
            justify-content: center;
            align-items: center;
        }
        &--author {
            @include flexbox;
            flex-wrap: wrap;
            justify-content: center;
			font-family: 'Merriweather', $fonts;
            color: #f7f7f7;
            font-size: 2.2rem;
            margin: 2%;
            margin-bottom: 4%;
            margin-top: 3vh;
            transition: all 0.1s ease-in-out;
            @media #{$phone} {
                font-size: 2rem;
            }
            &--position{
                width: 100vw;
                color: #cecece;
                font-size: 1.6rem;
                font-style: italic;
                margin-top: 2vh;
                letter-spacing: 0.25rem;
                line-height: 4vh;
            }
        }
        &--text {
            transition: all 0.1s ease-in-out;
			font-family: 'Merriweather', $fonts;
            color: #F2994A;
            padding-left: 6%;
            padding-right: 6%;
            font-size: 2.8rem;
            font-weight: 100;
            text-align: center;
            line-height: 6vh;
            margin-top: 4%;
            /* background: #f2994a;
            background-image: -webkit-linear-gradient(to bottom, #f2994a, #f2c94c);
            background: linear-gradient(to top, #f2994a, #f0cb35);
            background-attachment: fixed;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent; */
            @media #{$phone} {
                text-align: justify;
                font-size: 1.9rem;
                line-height: 5vh;
            }
        }
    }
}

.fade-out{
    opacity: 0;
    transition: all 0.1s ease-out;
}